<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stock.Mapper.NewsMapper">
    <resultMap id="BaseResultMap" type="com.example.stock.DO.News">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="datetime" jdbcType="VARCHAR" property="dateTime" />
        <result column="content" jdbcType="VARCHAR" property="content" />
        <result column="title" jdbcType="VARCHAR" property="title" />
    </resultMap>

    <select id="getStockNews" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from news_record
        where datetime &gt;= #{fromTime} and datetime &lt;= #{toTime}
    </select>

</mapper>