<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stock.Mapper.StockInfoMapper">
    <resultMap id="BaseResultMap" type="com.example.stock.DO.Stock">
        <id column="ts_code" jdbcType="VARCHAR" property="code" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="enname" jdbcType="VARCHAR" property="enname" />
        <result column="market" jdbcType="VARCHAR" property="market" />
        <result column="area" jdbcType="VARCHAR" property="area" />
        <result column="list_date" jdbcType="VARCHAR" property="list_date" />
        <result column="open" jdbcType="DOUBLE" property="open" />
        <result column="high" jdbcType="DOUBLE" property="high" />
        <result column="low" jdbcType="DOUBLE" property="low" />
        <result column="close" jdbcType="DOUBLE" property="close" />
        <result column="date_str" jdbcType="VARCHAR" property="date" />
    </resultMap>

    <select id="getStockInfoByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select b.*, t.date_str, t.open, t.high, t.low, t.close
        from base_information as b, trade_record_daily as t
        where b.ts_code = #{code} and b.ts_code = t.ts_code
        and t.date_str >= all(
            select date_str from trade_record_daily
            where ts_code = #{code}
        )
    </select>

</mapper>