<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.stock.Mapper.TushareStockDataMapper">


    <select id="getTushareStockData" resultType="com.example.stock.DO.TushareStockData">
        select ts_code as ts_code,date_str as date_str,open as open,high as high,low as low,close as close from ${schema}
        where ts_code = #{ts_code} and date_str &gt;= #{fromTime} and date_str &lt;= #{toTime}
    </select>

    <resultMap id="BaseResultMap" type="com.example.stock.DO.TushareStockData">
        <result column="ts_code" jdbcType="VARCHAR" property="ts_code" />
        <result column="date_str" jdbcType="VARCHAR" property="date_str" />
        <result column="open" jdbcType="REAL" property="open" />
        <result column="high" jdbcType="REAL" property="high" />
        <result column="low" jdbcType="REAL" property="low" />
        <result column="close" jdbcType="REAL" property="close" />
    </resultMap>
</mapper>